.button-red {
background-color: #C62E2E;
padding: 20px 25px;
border-radius: 10px;
color: white;
font-family:"Roboto", serif; 
font-weight: bold;
font-size: 20px;
}

.button-red:hover {
background-color: #88C273 ;
}

